html{
    font-size:62.5%;
}
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
 font-family:"Roboto",sans-serif;
}

@media (min-width:386px) and (max-width:1240px){
 #ToggleMenu{ 
  display:none;
 }
}

@media (min-width:1px) and (max-width:405px){
  #contact div{
    font-size:2rem;
  }

  #registration #ab{
    font-size:2rem;
  }

  #about{
    flex-direction:column;
  }

 

  #CVC{
   flex-direction:column;
  }
  #C{
    flex-direction:column;
  }
  #CC{
    flex-direction:column;
  }
  
}



nav{
  position:fixed;
  top:0%;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(22,33,92,1);
  font-size:2rem;
  height:80px;
  padding-left:15px;
  padding-right:15px;
}



nav a{
    text-decoration: none;
    color:white;
    font-size:2.5rem;
}

nav a:hover{
  color:#ffcc29;
  transition:0.2s;
  transform:scale(1.1);
}



#ToggleMenu{
 border:1px solid white;
 padding:5px;
 display:none;
}

#menu{
  position:fixed;
  top:0%;
  right:0%;
 color:black;
 background:rgba(22,33,92,1);
 width:239px;
 height:267px;
 display:flex;
 flex-direction:column;
 justify-content:center;
 text-align:center;
 display:none;
}

#menu #cross{
  margin-top:2px;
  margin-bottom:-11px;
  display:flex;
  justify-content:end;
  height:50px;
}

#menu div{
  margin:18px;
}

#menu div a{
  text-decoration:none;
  font-size:3rem;
  color:white;
}

@media (min-width:1px) and (max-width:530px) {
  .a{
    display:none;
  }
  #ToggleMenu{
    display:block;
    margin-right:10px;
  }
  
}

#banner{
   border:1px solid black;
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
    background-image:url('background2.jpeg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin-top:80px;
    padding:15px;
}
#banner div:first-child{
 color:#ffcc29;
}

#banner div{
  padding:-20px;
   color:#ffcc29;
   font-weight:700;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   -webkit-text-stroke:1px black;
  }
/* #banner div:nth-child(){

} */
#banner div:nth-child(5){
 color:#ffcc29;
} 

#BannerTxt{
  font-size:5rem;
}


@media (min-width:1px) and (max-width:750px){
 #banner{
  background:brown;
 }
 #banner div{
  color:white;
 }
}
 
#container{
  padding-left:10px;
  padding-right:10px;
}



#company img{
  display:flex;
  flex-direction:row;
  margin:1px auto;
}

#about{
 display:flex;
 margin-left:10px;
 font-size:2rem;
 gap:30px;
}

#about one,two{
 font-size:2rem;
 display:flex;
 flex-direction:column;
}

#about #one :last-child{
 display:flex;
 text-align:start; 
}

#about #two :last-child{
  display:flex;
  text-align:start;
}
#speaker div{
    font-size:2rem;
    display:flex;
    flex-direction:column;
    text-align:center;
}

#speaker .MemberName{
   color:blue;
   font-weight:500;
} 

/*  */

#committee{
   display:flex;
   flex-direction:column;
   text-align:center;
   font-size:2rem;   
}

#committee #CVC{
   display:flex;
   margin:1px auto;
   gap:80px;
}

#committee #C{
   display:flex;
   gap:80px;
   margin:1px auto;
}

#committee #CC{
  display:flex;
  gap:80px;
  margin:1px auto;
}

#registration div{
  margin-left:10px;
}

#registration #linkFor{
  color:red;
  font-size:3rem;
} 

#registration #linkFor a{
  text-align:justify;
}

#registration #second{
  font-size:2.5rem;
}


#registration #one{
  color:red;
  font-size:3rem;
}

#registration #two{
  font-size:2.5rem;
}
#registration #three{
  color:red;
  font-size:3rem;
}

#registration #contact{
  display:flex;
  justify-content:space-around;
  text-align:center;
  font-size:2.5rem;
}

@media (min-width:1px) and (max-width:850px) {
  #contact{
    flex-direction:column;
  }
}

#ab{
    text-align:center;
    margin:1px auto;
    font-size:2.5rem;
}

.post{
    color:red;
    font-size:2.5rem;
    font-weight:700;
}

#MyName{
  font-size:2rem;
  color:rgba(22,33,92,1);
  text-align:justify;
  
}
